body{
    text-align: center;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.btn{
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 2rem;
}

.one{
    background-color: #76c840;
}

.two{
    background-color: #ffbe30;
}

.three{
    background-color: #ff5f57;
}

.four{
    background-color: #70e7ff;
}

/* using JavaScript */
.flash{
    background-color: white;
}

.userFlash{
    background-color: pink;
}

@media(max-width: 560px){
    .btn-container {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        height: 120px;
        width: 120px;
        margin: 1rem;
    }
}
